<% provide(:title, "bookappとは") %>
  <div class="background">
    <div class="container">
      <div class="about">
        <div class="title">
          <h1>bookapp</h1>
          <h2>本の内容・感想を共有できる‼</h2>
          <h2>自分専用の読書メモを作ることができる‼</h2>
        </div>
        <div class="text">
          <div class="micropost">
            <h3>「みんなの投稿」</h3>
            <ul>
              <li>本のタイトル、著者、内容・感想を書いて投稿しよう！もっと紹介したいときは、本の画像も載せてみよう！</li>
              <li>みんなの投稿が気に入ったら、♡ボタンを押して「いいね」をつけてみよう！</li>
              <li>いい投稿をたくさんしている人をフォローしてみよう！フォローした人だけの投稿も表示もできるよ！</li>
            </ul>
          </div>
          <div class="mypost">
            <h3>「マイ投稿」</h3>
            <ul>
              <li>読んだ本の内容を忘れてしまうから、自分専用のメモとして投稿してみよう！</li>
              <li>みんなと共有したくなったら（「みんなの投稿」にも投稿！）ボタンを押してみよう！</li>
            </ul>
          </div>
        </div>
        <% if session[:user_id] == nil %>
          <div class="last">
            <%= link_to "始めてみよう！", new_user_path, class: "main-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
